

<div class="container">
  <h1>Viewing Code Evaluation Result</h1>
  <div class="code-source">
    <h2>Source Code</h2>
    <pre><%= @code.source_code %></pre>
  </div>
  <div class="code-results">
    <% unless @code.error_messages.to_s.empty? %>
      <h2>Compile Error</h2>
      <pre><span class="error"><%= @code.error_messages %></span></pre>
    <% end %>
    <div class="code-head">
      <div class="row-fluid">
        <div class="span2"><h3>Testcase</h3></div>
        <div class="span5">
          <h3>Input</h3>
        </div>
        <div class="span5">
          <h3>Output</h3>
        </div>
      </div>
    </div>
    <%= render :partial => 'results', :locals => { :results => @code.results } %>
  </div>
</div>
