

<div class="container">
  <h1>Viewing Code Evaluation Result</h1>
  <div class="code-source">
    <h2>Source Code</h2>
    <pre><%= @code.source_code %></pre>
  </div>
  <div class="code-results">
    <div class="code-head">
      <div class="row">
        <div class="span2"><h3>Testcase</h3></div>
        <div class="span5">
          <h3>Input</h3>
        </div>
        <div class="span5">
          <h3>Output</h3>
        </div>
      </div>
    </div>
    <% count = 0; @code.results.each do |result|; count += 1 %>
      <div class="code-result">
        <div class="row">
          <div class="span2"><h3>Testcase #<%= count %></h3></div>
          <div class="span5">
            <pre><%= result.input %></pre>
          </div>
          <div class="span5">
            <% if result.is_graded %>
              <pre><%= result.output %></pre>
            <% else %>
              (ungraded)
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
