
pre {
  font: 14px Monaco, Consolas, Courier New;
}
h1 {
  margin-bottom: 20px;
}

.form-actions { border-color: #333; }

footer {
  margin-top: 30px;
  text-align: center;
  color: #888;
}

pre {
  background: #222;
  color: #6d6;
}

p.meta { color: #666; }
.copy-to-current { float: right; }

span.input { color: #ec6; font-weight: bold; text-decoration: underline; }
span.error { color: #e88; }
span.no-input { color: #888; }
span.space { color: rgba(255,255,255,0.2); }
span.space.tab {
  position: relative;
  overflow: hidden;
  span {
    position: absolute;
    right: 0; top: 0; left: 0; bottom: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    b {
      position: absolute; top: 0; right: 0;
      font-weight: normal;
    }
  }
}

.task-description-text { font-size: 16px; line-height: 24px; }

.attendance-checking-notification.well {
  background: #445;
}
