
@import "compass";
.task-list {
  background: #000;
  display: block;
  list-style: none;
  margin: 0; padding: 0;
  border: 1px solid #444;
  li {
    background: #222;
    border-bottom: 1px solid #111;
    border-top: 1px solid #333;
    a {
      color: #ddd;
      display: block;
      padding: 3px 7px;
    }
    &.active {
      $bg: #38d;
      @include background($bg linear-gradient(top, $bg - #111, $bg + #111));
      border-top-color: $bg + #111;
      border-bottom-color: $bg - #111;
      a { color: #fff; }
    }
  }
}

.task-list-header {
  color: #888;
  font-size: 15px;
  margin: 0;
}

.task-list-actions {
  text-align: center;
  padding: 15px 0 0;
}

.task-edit-button {
  float: right;
}
