
@import 'compass';

.user-task-head {
  height: 160px;
  span {
    position: relative;
    display: block;
    width: 18px;
    a {
      @include transform(translateX(18px) rotate(-90deg));
      @include transform-origin(bottom, left);
      display: block;
    }
  }
}
